/***************************************************
					QUESTIONS
***************************************************/
.recent-questions{
	overflow: hidden;
}
.recent-questions .title{
	padding:30px 0;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
}

.recent-questions .btn{
	display: block;
	margin:30px auto;
	width:30%;
}

.question-row{
	padding:10px;
	border-top:1px solid #cdcdcd;
  }

.question a{
	text-decoration: none;
	color:#05233d;
}

.answers-count, .views-count, .up-votes-count, .down-votes-count{
	text-align:center;
	padding:10px;
	border-left: 1px solid #f0f0f0;
}

.question-info{
	margin-top:10px;
}

.question-info, .answers-count, .views-count, .up-votes-count, .down-votes-count{
	color: #666666;
	font-size: 0.8em;
}

/****************************************************
					FOOTER
****************************************************/
.footer{
	padding:50px;
	color:#cdcdcd;
}

@media only screen and (max-width: 800px) {
	.question-summary{
		width:100%;
		text-align: center;
	}

	.question-info, .answers-count, .views-count, .up-votes-count, .down-votes-count{
		float:none;
		display:inline-block;
	}

	.info-group{
		display:block;
		text-align: center;
		margin-left: 0 auto;
	}

	.info-group > div:first-child{
		border-left: 0;
	}

}


/************************************************
				PAGE HEADERS
************************************************/
.page-title{
	padding:10px 0;
	font-size: 2em;
	border-top: 1px solid #acdd6c;
	background:rgba(5,35,61,0.9);
}

.page-header .transparent-cover-dark{
	padding-bottom: 0px;
}

.page-content{
	background:#05233d;
}

/************************************************
				FORMS
************************************************/

.register-form{
	width:40%;
	padding:10px;
	margin:0 auto;
}

.register-form input, .register-form select, .register-form .pic{
	display:block;
	width:70%;
	margin:10px auto;
	font-size:1.1em;
}

.pic{
	color:#fff;
}

.pic input, .pic label{
	display: inline-block;
}

.pic label{
	clear: left;
}

.form-date{
	font-family: 'Roboto', san-serif;
}

.register-form .btn{
	color:#fff;
}

.register-form .btn:hover{
	border:1px solid #fff;
	cursor: pointer;
}